 table,
 th {
     border: 1px solid rgb(219, 219, 219);
     border-collapse: collapse;
     border-left: none;
     border-right: none;
 }

 th,
 td {
     padding: 10px;
 }

 .iconTable {
     text-align: end;
 }

 tr:nth-child(even) {
     background-color: var(--bs-sub-main);
 }