
      :root {
        --bs-primary: #7645bf !important;
        --bs-secondary: #9756cd !important;
        --bs-primary-hover: #6436a8 !important;
      }

      body {
        font-family: "Poppins", sans-serif;
        background-color: #f4f4f4;
        line-height: 1.6;
        margin: 0;
        padding: 0;
      }

      .main-title {
        color: #353333;
        font-weight: 700;
      }

      .btn-main {
        background-color: var(--bs-primary) !important;
        border-color: var(--bs-primary) !important;
        color: white !important;
        font-weight: 500;
        padding: 8px 20px;
        border-radius: 8px;
      }

      .btn-main:hover {
        background-color: var(--bs-primary-hover) !important;
      }

      .card {
        border: none;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      }

      .table thead {
        background-color: #f8f9fa;
      }

      .thumbnail-img {
        width: 55px;
        height: 40px;
        object-fit: cover;
        border-radius: 6px;
      }

      .badge-category {
        background-color: var(--bs-secondary);
        color: white;
        font-weight: 400;
        padding: 5px 12px;
        border-radius: 20px;
      }

      .action-icon {
        cursor: pointer;
        font-size: 1.1rem;
        transition: 0.2s;
      }

      .icon-delete:hover {
        color: #dc3545 !important;
      }
      .icon-edit:hover {
        color: var(--bs-primary) !important;
      }
  