
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f5f5f5;
    }

    form {
      border: 2px solid #ccc;
      border-radius: 15px;
      background-color: rgba(215, 211, 211, 0.28);
      padding: 30px;
    }

    input {
      border: none;
      outline: none;
    }

    .error {
      color: red;
      font-size: 14px;
      margin-top: 5px;
      display: block;
    }

    .toggle-password {
      cursor: pointer;
    }

    @media (max-width: 992px) {
      .img-left {
        display: none;
      }
    }
.input-error {
  border: 1px solid red !important;
}

.input-normal {
  border: 1px solid #ced4da;
  /* bootstrap default */
}
